@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
:root {
    --blue: hsl(223, 87%, 63%);
    --pale-blue: hsl(223, 100%, 88%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --v-dark-blue: hsl(209, 33%, 12%);
    --font-family: 'Libre Franklin', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: 15px;
}

.container {}

.title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 35px;
}

.full-stop {
    color: var(--blue);
}

.launch-text {
    font-size: 20px;
}

.header-text {
    color: var(--gray);
}

.soon-text {
    font-weight: 700;
}

.subscribe-text {
    font-size: 14px;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-input-feedback {
    width: 100%;
    margin-bottom: 20px;
}

.form-input {
    border-radius: 50px;
    border: 1px solid var(--pale-blue);
    padding: 10px 40px;
    color: var(--gray);
    width: 100%;
}

.form-btn {
    background-color: var(--blue);
    border-radius: 50px;
    border: none;
    outline: 0;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    width: 100%;
    box-shadow: 5px 5px 15px var(--pale-blue);
}

.form-btn:hover {
    background-color: var(--pale-blue);
}

.dashboard-img {
    max-width: 100%;
    margin-top: 60px;
}

.icons {
    margin-top: 70px;
    margin-bottom: 15px;
}

.fa-facebook-f {
    padding: 5px 8px;
    margin: 5px;
    border-radius: 50%;
    border: 0.5px solid var(--pale-blue);
    color: var(--blue);
}

.fa-facebook-f:hover {
    color: #fff;
    background-color: var(--blue);
    cursor: pointer;
}

.fa-twitter {
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    border: 0.5px solid var(--pale-blue);
    color: var(--blue);
}

.fa-twitter:hover {
    color: #fff;
    background-color: var(--blue);
    cursor: pointer;
}

.fa-instagram {
    padding: 5px 7px;
    margin: 5px;
    border-radius: 50%;
    border: 0.5px solid var(--pale-blue);
    color: var(--blue);
}

.fa-instagram:hover {
    color: #fff;
    background-color: var(--blue);
    cursor: pointer;
}

.copyright {
    font-size: 10px;
    color: var(--gray);
}

@media (min-width: 1000px) {
    .w-75 {
        max-width: 50%;
    }
    .launch-text {
        font-size: 40px;
    }
    .form {
        flex-direction: row;
    }
    .form-input-feedback {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-right: 5%;
        margin-bottom: 0;
    }
    .invalid-feedback {
        position: absolute;
        left: -20%;
        top: 50px;
    }
    .form-input {
        width: 100%;
        margin-right: 5%;
        margin-bottom: 0;
    }
    .form-btn {
        width: 30%;
    }
}